/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #ffc609;
    color: #000000;
    font-size: 24px;
    margin: 0;
}

/* Footer Styles */
footer {
    align-items: baseline;
    background-color: #1a1616;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}



/* Form Styles */
.swiper-container {
    width: 100%;
    padding: 20px;
}

.form-section {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

label {
    width: 45%;
    font-weight: bold;
}

input[type="radio"] {
    width: 10%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:valid {
    border-color: #00cc00; /* Green border for valid input */
}

input:invalid {
    border-color: #cc0000; /* Red border for invalid input */
}

/* Error message style for HTML5 validation */
input:invalid + span:after {
    content: 'Invalid input';
    color: #cc0000;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

/* Media queries for different screen sizes */
@media (max-width: 600px) {
    body {
        background-color: #0a0b55; /* Background color for smaller screens */
        font-size: 18px; /* Increase font size for mobile devices */
    }
    .form-section {
        padding: 10px; /* Adjust padding as needed for mobile view */
    }

    .form-field {
        flex-direction: column; /* Stacking fields vertically */
        align-items: flex-start; /* Align labels to the left */
        margin-bottom: 10px; /* Reduce spacing between fields */
    }

    label {
        width: 100%;
        font-size: 20px;
    }

    footer {
        font-size: 14px; /* Adjust font size for mobile view */
    }

    input[type="radio"] {
        width: auto;
    }
}

@media (min-width: 601px) {
    /* Tablet / Desktop Styles */
    body {
        background-color: #000000; /* Unique background color for tablet/desktop screens */
    }
}